---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Color Variables

$primary: #ffffff;
$secondary: #071013;
$accent: #ffca28;
$accent-half: #ffca28;

// Font Variables

$font-header: 'Amatic SC', cursive;
$font-body: 'Raleway', sans-serif;



/* Custom CSS */

html, body {
    height: 100%;
    font-family: $font-header;
    background-image: url('{{ site.github.url }}/img/background.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3, h4 {
  font-family: $font-header;
}
#home-title {
  padding-top: 25%;
  color: white;
  text-align: center;
  height: 100%;
}
#home-title h1 {
  font-size: 80px;
}
#home-down h1 {
  text-align: center;
  color: white;
  font-size: 50px;
}
#home-intro {
  background-color: white;
  padding: 100px;
}
