
{% unless page.title == 'EUCC | Home' %}
<footer id="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <ul class="social-list">
          <li class="social-item"><i class="fa fa-2x fa-instagram"></i></li>
          <li class="social-item"><i class="fa fa-2x fa-facebook-official"></i></li>
          <li class="social-item"><i class="fa fa-2x fa-twitter"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endunless %}
