<!-- NavBar -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse d-flex">
<button class="navbar-toggler navbar-toggler-right align-self-center" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="{{ site.github.url }}"><img src="{{ site.github.url }}/img/ram-white.png" alt="Ey Up Logo" height="60"><span class="logo"> EYUP!</span></a>
<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li id="home-nav" class="nav-item">
      <a class="nav-link" href="{{ site.github.url }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li id="about-nav" class="nav-item">
      <a class="nav-link" href="{{ site.github.url }}/coming-soon/">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ site.github.url }}/contact">Contact</a>
    </li>

  </ul>
</div>
</nav>
